@model List<dotNettbank.Model.Account>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Kontoer</h4>
    </div>
    <!-- SØKE FELT-->
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" id="search" class="form-control input-lg" placeholder="Søk blant kontoer..." />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="panel-body">
        <!-- TABLE -->
        <table class="table table-hover" id="accounts_table">
            <thead class="thead-inverse">
                <tr>
                    <th>Fødselsnummer</th>
                    <th>Kontonummer</th>
                    <th>Kontonavn</th>
                    <th>Saldo</th>
                    <th>Vis betalinger</th>
                    <th>Vis transaksjoner</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr data-toggle="collapse" class="clickable">
                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.OwnerBirthNo)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.AccountNo)</td>
                        <td class="col-md-4">@Html.DisplayFor(modelItem => item.Type)</td>
                        <td class="col-md-2">@Html.DisplayFor(modelItem => item.Balance)</td>
                        <td class="col-md-1"><button class="btn btn-info" id="show_payments_btn">Betalinger</button></td>
                        <td class="col-md-1"><button class="btn btn-info" id="show_transactions_btn">Transaksjoner</button></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        /*
        $('#accounts_table').DataTable();
        */
        /*
        $('#accounts_table').tablesorter();
        */
        
        
        $('#accounts_table').paging({ limit: 10 });
        
        /*
        $('#accounts_table').after('<div id="nav"></div>');
        var rowsShown = 10;
        var rowsTotal = $('#accounts_table tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
        }
        $('#accounts_table tbody tr').hide();
        $('#accounts_table tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function () {

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#accounts_table tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                    css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
        */

        var $rows = $('#accounts_table tbody tr');
        $('#search').keyup(function() {

            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                reg = RegExp(val, 'i'),
                text;

            $rows.show().filter(function() {
                text = $(this).text().replace(/\s+/g, ' ');
                return !reg.test(text);
            }).hide();
        });
        
    });
</script>

