<section class="content-header">
    <h1>
        Transaksjoner
        <small>Liste over alle utførte betalinger</small>
    </h1>
</section>


<div class="table ">
    <!--endre og sletteknapper her-->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Betal fra</th>
                <th>Betale til</th>
                <th>Beløp</th>
                <th>Kid</th>
                <th>Endre</th>
            </tr>
        </thead>
    </table>


   
</div>
