@model dotNettbank.Models.AccountStatement

@{
    ViewBag.Title = "Kontoutskrift";
    Layout = "~/Views/Shared/_LayoutInnlogget.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Totaloversikt</title>
</head>
<body>
    <hr />
    <table class="table table-hover">
        <tr>
            <th>Kontonummer</th>
            <th>Kontonavn</th>
            <th>Saldo</th>
        </tr>


        @foreach (var konto in Model.Accounts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => konto.AccountNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => konto.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => konto.Balance)
                </td>
            </tr>
        }
    </table>

    <div id="accountInfo"></div>
</body>
</html>