
@{
    ViewBag.Title = "Overføre";
    Layout = "~/Views/Shared/_LayoutInnlogget.cshtml";
}

<h1>Ikke implementert </h1>
Gå til Betale for å overføre melom egne konti eller for å betale regninger til andre kontoer innenfor samme bank

