
@{
    ViewBag.Title = "OmOss";
    Layout = "~/Views/Shared/_LayoutUtlogget.cshtml";
}

<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/round-about.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Om 
                    <small>dotNettbank</small>
                </h1>
                <p>dotNettbank er en skoleoppgave gitt i faget WebApplikasjoner som en del av en mappevurdering. </br>
                Oppgaven har gitt oss mulgiheten til å lære:</br>
                <ul style="list-style-type:circle">
                    <li>Lagdeling av applikasjoner og viktigheten av en god applikasjonsarkitektur</li>
                    <li>Ulike designmønstre</li>
                    <li>Tjenerhåndterte autentifiseringer med økter/sesjoner</li>
                    <li>Hvodan web-tjenester kan utvikles i webapplikasjoner for økt funksjonalitet på nettsider.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Utviklerne av nettbanken</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="height:200px;" src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/13239482_10156922838440704_3506441259100325198_n.jpg?oh=065738c3fe024373edf2e515c703cc7c&oe=58998E99" alt="">
                <h3>
                    André Hovda </br>
                    <small>Informasjonsteknologi</small>
                </h3>
                <p></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="height:200px;" src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/12249992_10153319035222057_6022642219084979244_n.jpg?oh=922c2b3aba37a73147ddcfeb296e6233&oe=588E9950" alt="">
                <h3>
                    Julian Refsland</br>
                    <small>Informasjonsteknologi</small>
                </h3>
                <p></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="height:200px;" src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/12249666_10153650671855726_8449894984817900137_n.jpg?oh=82dc2348d09e3637994343349acc9850&oe=58AC736B" alt="">
                <h3>
                    Magnus Bärnholt</br>
                    <small>Dataingeniør</small>
                </h3>
                <p></p>
            </div>
           
        <hr>
</body>

</html>


