@model dotNettbank.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" />
    <title>birthID</title>
</head>
<body>
    <div> 
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-sm-9">
                        @Html.LabelFor(model => model.BirthNo, htmlAttributes: new {  })
                    </div>

                   
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.BirthNo, new { htmlAttributes = new { placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(n => n.BirthNo).ToHtmlString()), @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.BirthNo, "", new { @class = "text-danger" })
                    </div>

                    
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Fødselsnummer" required="">
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-success btn-lg">
                            Neste
                        </button>
                    </div>
                </div>

                <div class="form-group last">
                    <div class="col-sm-12">
                        <p><span class="glyphicon glyphicon-check" style="font-size: 1.8em"></span> Tast inn ditt fødselsnummer </p>
                        <p><span class="glyphicon glyphicon-check" style="font-size: 1.8em"></span> Trykk på Neste </p>
                        <p><span class="glyphicon glyphicon-check" style="font-size: 1.8em"></span> Følg instruksjonene i BankID-vinduet </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
