
@{
    ViewBag.Title = "Index";
}

<h2>Velkommen til dotNettbank</h2>

<input class="btn-primary" id="btnRegister" type="button" value="Rogister deg" />
<input class="btn-primary" id="btnLoginn" type="button" value="Logg inn" />

