@model dotNettbank.Models.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUtlogget.cshtml";
}
<div class="container" style="background-image:url(/Content/img/LoginPage.jpg)">
    <div class="row" style="min-height:600px;">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>BankID - Logg inn</h3>
                </div>
                @Html.Partial("birthID", Model)

                <div class="panel-footer">
                    Ikke registrert <a href="#">Regisrer bruker her</a>
                </div>
            </div>
        </div>
    </div>
</div>