@model dotNettbank.Models.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUtlogget.cshtml";
}
<div class="container" style="background-image:url(/Content/img/LoginPage.jpg)">
    <div class="row" style="min-height:600px;">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>BankID - Logg inn</h3>
                </div>

                <script type="text/javascript">
                    function hentBokerAjax()
                    {
                        $("#BokerListe").load("/Ajax/HentBoker", { sjanger: $("#idListe").val() });
                    }

                    function hentBokerAjax1()
                    {
                        $.getJSON("/Ajax/HentBoker1",{sjanger:$("#idListe").val()},function(bok)
                        {
                            var ut="";
                            for (var i in bok)
                            {
                                ut +=bok[i].id + " " + bok[i].Tittel + " " + bok[i].Sjanger + "<br/>";
                            }
                            $("#BokerListe").html(ut);
                        });
                    }
                </script>

                @Html.Partial("birthID", Model);

                <div class="panel-footer">
                    Ikke registrert <a href="#">Regisrer bruker her</a>
                </div>
            </div>
        </div>
    </div>
</div>