

.top-buffer { 
    margin-top:20px; 

}

.hiddenRow {
    padding: 0 !important;
}

.modal-content {
    width: 600px !important;
    margin: 30px auto !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 0;
    padding-right: 0;
}

.centered{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    text-align:center;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    margin: 0;
    padding: 0;

}

.navbar-brand img {
    width:2.6em;
    height:2.3em;
    margin-top:-0.5em;
}

.mypageheader{
    margin-top:-3em;
}

